{% extends 'flatpages/default.html' %}
{% load custom_filters %}



{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <hr>
   {% if news %}
       <table>
           <tr>
               <td>Название</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>

           {% for news in news %}
           <tr>
               <td>{{ news.title|censor }}</td>
               <td>{{ news.time_in }}</td>
               <td>{{ news.content|truncatechars:20|censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}